---
layout: default
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post {% cycle 'odd', 'even' %}">
    <h1>
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>
    <div class="body">
      {{ post.excerpt }}
    </div>

    <p>
      <a class="more" href="{{ post.url}}">Read the rest of this entry »</a>
    </p>
    <p class="tags">
      {% for tag in post.tags %}
        #{{ tag }}
      {% endfor %}
    </p>
  </div>
  {% endfor %}
</div>

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.next_page %}
    <a href="/page{{paginator.next_page}}" class="older">Older</a>
  {% else %}
    <span class="next">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a href="/" class="newer">Newer</a>
    {% else %}
      <a href="/page{{paginator.previous_page}}" class="newer">Newer</a>
    {% endif %}
  {% else %}
    <span class="previous">Newer</span>
  {% endif %}
</div>
